.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

.aboutme-photo img {
    max-width: 250px;
    max-height: 250px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

img {
    width: 600px;
    
}
.aboutme-photo {
margin-right: 0%;
width: 40%;

}

.aboutme-container {
height:400px;
   margin: 0px;
    display: flex;
    flex-direction: wrap;
}
p {

}

.aboutmeinfo-container {
    padding: 0%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 60%;
    overflow: hidden;
}
.aboutme-header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align:left ;
}

button {
    background-color: #f7c6f1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #c2c0c2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
}

input[type="text"],
input[type="email"],
textarea {
    margin-left: 40px;
    margin-right: 40px;
    width: 80%;
    height: 50px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 5px solid #f7c6f1;
    border-radius: 5px;
}

label {
    margin: 7px;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.skills-container .heading-container {
    text-align: center;
    width: 100%;

}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.skills-category {
    flex: 1;
    min-width: 200px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
}

.skill-item {
    background-color: #f7c6f1;
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    color: #f7c6f1;
}

.contact-links {

    height: 30px;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.contact-links a {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}